<div class="container">

  <div class="align-element">
    <a href="/"><h1 class="logo-left">ShareMyWay</h1></a>
    <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>


  <div class="file-container mt-3">
    <div class="file-label", id="avatar_user_edit",>
      <div class= "">
        <%= cl_image_tag(current_user.photo.key) %>
          <%= link_to edit_user_registration_path do %>
            <i class="fa-regular fa-pen-to-square edit-btn"></i>
          <% end %>
      </div>
    </div>
  </div>

  <div>
    <p class="text-profil">Username:</p>
    <div class="answer-text-profil">
      <%= current_user.username %>
    </div>
  </div>

    <div>
    <p class="text-profil">Language:</p>
    <div class="answer-text-profil">
      <%= current_user.language %>
    </div>
  </div>

  <div>
  <p class="mb-0">Interests (up to 3 categories)</p>
  </div>

  <div class="main-div">
    <div class="profil-page-new">
       <% activities = ['Hiking and Trekking', 'Backpacking and Camping', 'Road Trips and Drives', 'Wildlife and Safari', 'Language Learning', 'Photography Workshops', 'Cooking Classes', 'Coding and Tech Workshops', 'Yoga and Meditation', 'Group Fitness Classes', 'Outdoor Sports', 'Personal Training'] %>
        <% activities.each do |activitie| %>
          <div class="custom-radio-label-2">
              <div class="custom-radio-img">
                <%= image_tag("#{activitie.gsub(" ", "-")}.svg", class:"image-size" )%>
                <%# si le acitivitie est egale a current user choice,  %>
              </div>
                <span class="custom-radio-text"><%= activitie %></span>
          </div>
       <% end %>
    </div>
  </div>
</div>
