<div class="align-element">
  <h1 class="logo" id="left">ShareMyWay</h1>
  <%= link_to "X", events_path, class:"bouton-modified" %>
</div>


<div class="container">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="tag-classic-input">
    <div class="form-inputs">
    <div class="d-none">
    <%= f.input :email, required: true, autofocus: true,
                  input_html: { class: "tag-classic-input1" } %>
    </div>
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  <div class="d-none">
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="tag-classic-input">
    <%= f.input :current_password,
                input_html: { class: "tag-classic-input1" },
                hint: "We need your current password to confirm your changes, please",
                required: true,
                autocomplete: :current_password  %>
  </div>
    <div class="file-container">
      <%= f.input :photo, as: :file,
                input_html: { class: "input-photo", id: "input-photo" },
                label: false %>
                <label for="input-photo" class="file-label"></label>
    </div>
    <div class="tag-classic-input">
      <%= f.input :username,
                input_html: { class: "tag-classic-input1" } %>
    </div>

    <div class="tag-classic-input">
      <%= f.input :language, collection: (["French", "English"]),
                input_html: { class: "tag-classic-input1" } %>
    </div>

    <%= f.input :hobby1, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: (["Nature and Outdoors", "Education and Learning", "Sports", "Games and Entertainment", "Food and Gastronomy", "Art and Culture", "Science and Exploration", "Health and Wellness"]) %>
    <%= f.input :hobby2, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: (["Nature and Outdoors", "Education and Learning", "Sports", "Games and Entertainment", "Food and Gastronomy", "Art and Culture", "Science and Exploration", "Health and Wellness"]) %>
    <%= f.input :hobby3, as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: (["Nature and Outdoors", "Education and Learning", "Sports", "Games and Entertainment", "Food and Gastronomy", "Art and Culture", "Science and Exploration", ""]) %>
  </div>

  <div class="button-my-profil">
    <div class="form-actions">
      <%= f.button :submit, "Save profile", class: "center-text" %>
    </div>
  </div>

<% end %>

<div class="d-none">
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>

</div>

  <div>

    <button type="button">
    <i class="fa-solid fa-campground"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-book-open-reader"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-futbol"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-gamepad"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-burger"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-music"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-microscope"></i>
    </button>

    <button type="button">
    <i class="fa-solid fa-notes-medical"></i>
    </button>

  </div>
