<div class="align-element">
<a href="/"><h1 class="logo-left">ShareMyWay</h1></a>
<%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete} %>
<%= link_to "X", events_path, class:"bouton-modified" %>
</div>


<div class="container">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="tag-classic-input">
    <div class="form-inputs">
    <div class="d-none">
    <%= f.input :email, required: true, autofocus: true,
                  input_html: { class: "tag-classic-input1" } %>
    </div>
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  <div class="d-none">
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="tag-classic-input">
    <%= f.input :current_password,
                input_html: { class: "tag-classic-input1" },
                hint: "We need your current password to confirm your changes, please",
                required: true,
                autocomplete: :current_password  %>
  </div>

    <div class="file-container" data-controller="change-style-input">
        <%= f.input :photo, as: :file,
          input_html: { class: "input-photo", id: "input-photo" },
          label: false %>

        <label
        for="input-photo"
        class="file-label"
        id="avatar_user_edit"
        data-action="change->change-style-input#background">

          <%= cl_image_tag(current_user.photo.key) %>
          <i class="fa-regular fa-pen-to-square edit-btn"></i>

        </label>
    </div>

    <div class="tag-classic-input">
      <%= f.input :username,
                input_html: { class: "tag-classic-input1" } %>
    </div>

    <div class="tag-classic-input">
      <%= f.input :language, collection: (["French", "English"]),
                input_html: { class: "tag-classic-input1" } %>
    </div>

    <h4 class="center-text">Select yours favorites hobbys:</h4>

    <h5>1. Travel and Adventure:</h5>

    <div class="radio-buttons-group">
       <%= f.collection_radio_buttons :hobby1, [['Nature and Outdoors', 'Nature and Outdoors'], ['Sports', 'Sports'], ['Games and Entertainment', 'Games and Entertainment'], ['Food and Gastronomy', 'Food and Gastronomy'], ['Art and Culture', 'Art and Culture'], ['Science and Exploration', 'Science and Exploration'], ['Health and Wellness', 'Health and Wellness']], :first, :last do |b| %>
          <%= b.label(class: "custom-radio-label") do  %>
            <%= b.radio_button(class: 'custom-radio-input') %>
              <div class="custom-radio-img">
                <%= image_tag("#{b.object.last.gsub(" ", "-")}.svg", class:"image-size") %>
              </div>
            <span class="custom-radio-text"><%= b.object.first %></span>
          <% end %>
        <% end %>
    </div>

    <h5>My second hobby:</h5>

    <div class="radio-buttons-group">
       <%= f.collection_radio_buttons :hobby2, [['Nature and Outdoors', 'Nature and Outdoors'], ['Education and Learning', 'Education and Learning'], ['Sports', 'Sports'], ['Games and Entertainment', 'Games and Entertainment'], ['Food and Gastronomy', 'Food and Gastronomy'], ['Art and Culture', 'Art and Culture'], ['Science and Exploration', 'Science and Exploration'], ['Health and Wellness', 'Health and Wellness']], :first, :last do |b| %>
          <%= b.label(class: "custom-radio-label") do %>
            <%= b.radio_button(class: 'custom-radio-input') %>
            <div class="custom-radio-img">
              <%= image_tag("#{b.object.last.gsub(" ", "-")}.svg", class:"image-size") %>
            </div>
            <span class="custom-radio-text"><%= b.object.first %></span>
          <% end %>
        <% end %>
    </div>

    <h5>My third hobby:</h5>

    <div class="radio-buttons-group">
       <%= f.collection_radio_buttons :hobby3, [['Nature and Outdoors', 'Nature and Outdoors'], ['Education and Learning', 'Education and Learning'], ['Sports', 'Sports'], ['Games and Entertainment', 'Games and Entertainment'], ['Food and Gastronomy', 'Food and Gastronomy'], ['Art and Culture', 'Art and Culture'], ['Science and Exploration', 'Science and Exploration'], ['Health and Wellness', 'Health and Wellness']], :first, :last do |b| %>
          <%= b.label(class: "custom-radio-label") do %>
            <%= b.radio_button(class: 'custom-radio-input') %>
              <div class="custom-radio-img">
                <%= image_tag("#{b.object.last.gsub(" ", "-")}.svg", class:"image-size") %>
              </div>
              <span class="custom-radio-text"><%= b.object.first %></span>
          <% end %>
        <% end %>
    </div>

    <div class="button-my-profil">
      <div class="form-actions">
        <%= f.button :submit, "Save profile", class: "center-text" %>
      </div>
  </div>
<% end %>

<div class="d-none">
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>

</div>
