<div class="align-element">
<a href="/"><h1 class="logo-left">ShareMyWay</h1></a>
<%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete} %>
<%= link_to "X", events_path, class:"bouton-modified" %>
</div>


<div class="container">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="tag-classic-input">
    <div class="form-inputs">
    <div class="d-none">
    <%= f.input :email, required: true, autofocus: true,
                  input_html: { class: "tag-classic-input1" } %>
    </div>
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  <div class="d-none">
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="tag-classic-input">
    <%= f.input :current_password,
                input_html: { class: "tag-classic-input1" },
                hint: "We need your current password to confirm your changes, please",
                required: true,
                autocomplete: :current_password  %>
  </div>

    <div class="file-container" data-controller="change-style-input">
        <%= f.input :photo, as: :file,
          input_html: { class: "input-photo", id: "input-photo", data: { action: "change->change-style-input#background" } },
          label: false %>

        <label
        for="input-photo"
        class="file-label"
        id="avatar_user_edit">

          <div data-change-style-input-target="user", class="activ">
            <%= cl_image_tag(current_user.photo.key)%>
          </div>

          <div data-change-style-input-target="check", class="d-none">
            <%= image_tag("check_list.jpg", :alt => "checked" ) %>
          </div>

        <% if current_user.photo.attached? == true %>
          <%= cl_image_tag(current_user.photo.key) %>
          <i class="fa-regular fa-pen-to-square edit-btn"></i>
        <% else %>
          <i class="fa-solid fa-camera profil-image"></i>
        <% end %>

        </label>
    </div>

    <div class="tag-classic-input">
      <%= f.input :username,
                input_html: { class: "tag-classic-input1" } %>
    </div>

    <div class="tag-classic-input">
      <%= f.input :language, collection: (["French", "English"]),
                input_html: { class: "tag-classic-input1" } %>
    </div>

    <h4 class="center-text">Select yours favorites hobbys:</h4>

    <h5>Travel and Adventure</h5>

    <div class="radio-buttons-group">
       <%= f.collection_radio_buttons :hobby1, [['Hiking and Trekking', 'Hiking and Trekking'], ['Backpacking and Camping', 'Backpacking and Camping'], ['Road Trips and Drives', 'Road Trips and Drives'], ['Wildlife and Safari', 'Wildlife and Safari']], :first, :last do |b| %>
          <%= b.label(class: "custom-radio-label") do  %>
            <%= b.radio_button(class: 'custom-radio-input') %>
              <div class="custom-radio-img">
                <%= image_tag("#{b.object.last.gsub(" ", "-")}.svg", class:"image-size") %>
              </div>
            <span class="custom-radio-text"><%= b.object.first %></span>
          <% end %>
        <% end %>
    </div>

    <h5>Learning and Workshops</h5>

    <div class="radio-buttons-group">
       <%= f.collection_radio_buttons :hobby2, [['Language Learning', 'Language Learning'], ['Photography Workshops', 'Photography Workshops'], ['Cooking Classes', 'Cooking Classes'], ['Coding and Tech Workshops', 'Coding and Tech Workshops']], :first, :last do |b| %>
          <%= b.label(class: "custom-radio-label") do %>
            <%= b.radio_button(class: 'custom-radio-input') %>
            <div class="custom-radio-img">
              <%= image_tag("#{b.object.last.gsub(" ", "-")}.svg", class:"image-size") %>
            </div>
            <span class="custom-radio-text"><%= b.object.first %></span>
          <% end %>
        <% end %>
    </div>

    <h5>Fitness and Wellness</h5>

    <div class="radio-buttons-group">
       <%= f.collection_radio_buttons :hobby3, [['Yoga and Meditation', 'Yoga and Meditation'], ['Group Fitness Classes', 'Group Fitness Classes'], ['Outdoor Sports', 'Outdoor Sports'], ['Personal Training', 'Personal Training']], :first, :last do |b| %>
          <%= b.label(class: "custom-radio-label") do %>
            <%= b.radio_button(class: 'custom-radio-input') %>
              <div class="custom-radio-img">
                <%= image_tag("#{b.object.last.gsub(" ", "-")}.svg", class:"image-size") %>
              </div>
              <span class="custom-radio-text"><%= b.object.first %></span>
          <% end %>
        <% end %>
    </div>

    <div class="button-my-profil">
      <div class="form-actions">
        <%= f.button :submit, "Save profile", class: "center-text" %>
      </div>
  </div>
<% end %>

<div class="d-none">
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>

</div>
