<a href="/"><h1 class="logo">ShareMyWay</h1></a>
<h2 class="my-bookings title">My Bookings</h2>
<div class="container">
  <div class="cards content-event">
      <div class="events-list" data-controller="events-list">
        <% current_user.bookings.each do |booking| %>
          <%= link_to booking_path(booking) do %>
            <div class="card-event">
              <%# <%= button_to event_booking_path(@event), method: :delete, class: "delete-event-button" do %>
                <%# <i class="fa-solid fa-trash-can"></i> %>
              <%# <% end %>
              <%= cl_image_tag(booking.event.photo.key, alt: "NA", class: "card-img-top image")%>
                <%# La ligne si dessous est codée pour ne pas oublié de créer un btn qui nous permet d'afficher les membres participants à l'event %>
                <%# <%= link_to 'More', members_path(event), class: 'btn btn-primary' %>
                <div class="event-infos">
                  <div class="event-title"><%= booking.event.name %></div>
                  <div class="location-wrapper d-flex align-items-center">
                    <i class="fa-solid fa-location-pin icon-info where"></i>
                    <div class="location mb-2"><%= booking.event.address %></div>
                  </div>
                  <div class="date-wrapper d-flex align-items-center">
                    <i class="fa-regular fa-calendar icon-info when"></i>
                    <div class="display-date"><%= booking.event.date %></div>
                  </div>
                  <%= cl_image_tag(booking.event.user.photo.key, alt: "NA", class: "card-trip-user avatar-bordered") %>
                  <div class="icone-categories">
                    <% if booking.event.category == "Hiking and Trekking" %>
                      <i class="fa-solid fa-person-hiking"></i>
                    <% elsif booking.event.category == "Backpacking and Camping" %>
                      <i class="fa-solid fa-campground"></i>
                    <% elsif booking.event.category == "Road Trips and Drives" %>
                      <i class="fa-solid fa-car"></i>
                   <% elsif booking.event.category == "Wildlife and Safari" %>
                      <i class="fa-solid fa-hippo"></i>
                    <% elsif booking.event.category == "Language Learning" %>
                      <i class="fa-solid fa-language"></i>
                    <% elsif booking.event.category == "Photography Workshops" %>
                      <i class="fa-solid fa-camera"></i>
                    <% elsif booking.event.category == "Cooking Classes" %>
                      <i class="fa-solid fa-cookie-bite"></i>
                    <% elsif booking.event.category == "Coding and Tech Workshops" %>
                      <i class="fa-solid fa-book-open"></i>
                    <% elsif booking.event.category == "Yoga and Meditation" %>
                      <i class="fa-solid fa-spa"></i>
                    <% elsif booking.event.category == "Group Fitness Classes" %>
                      <i class="fa-solid fa-people-group"></i>
                    <% elsif booking.event.category == "Outdoor Sports" %>
                      <i class="fa-solid fa-cloud-sun"></i>
                    <% else booking.event.category == "Personal Training" %>
                      <i class="fa-solid fa-dumbbell"></i>
                    <% end %>
                  </div>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
