<div class="image-event-show"><%= cl_image_tag(@booking.event.photo.key, alt: "NA", class: "card-img-top img-show") %></div>
<div class="container show-event">

  <%= link_to bookings_path, class: "btn-back-all-events" do %>
    <i class="fa-solid fa-circle-chevron-left"></i>
  <% end %>

  <%= button_to booking_path(@booking), method: :delete, class: "delete-event-button" do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>

<div class="category">
    <% if @booking.event.category == "Hiking and Trekking" %>
      <i class="fa-solid fa-person-hiking"></i>
    <% elsif @booking.event.category == "Backpacking and Camping" %>
      <i class="fa-solid fa-campground"></i>
    <% elsif @booking.event.category == "Road Trips and Drives" %>
      <i class="fa-solid fa-car"></i>
    <% elsif @booking.event.category == "Wildlife and Safari" %>
      <i class="fa-solid fa-hippo"></i>
    <% elsif @booking.event.category == "Language Learning" %>
      <i class="fa-solid fa-language"></i>
    <% elsif @booking.event.category == "Photography Workshops" %>
      <i class="fa-solid fa-camera"></i>
    <% elsif @booking.event.category == "Cooking Classes" %>
      <i class="fa-solid fa-cookie-bite"></i>
    <% elsif @booking.event.category == "Coding and Tech Workshops" %>
      <i class="fa-solid fa-book-open"></i>
    <% elsif @booking.event.category == "Yoga and Meditation" %>
      <i class="fa-solid fa-spa"></i>
    <% elsif @booking.event.category == "Group Fitness Classes" %>
      <i class="fa-solid fa-people-group"></i>
    <% elsif @booking.event.category == "Outdoor Sports" %>
      <i class="fa-solid fa-cloud-sun"></i>
    <% else @booking.event.category == "Personal Training" %>
      <i class="fa-solid fa-dumbbell"></i>
    <% end %>
  </div>

  <%= cl_image_tag( @booking.event.user.photo.key, alt: "NA", class: "card-trip-user avatar-show-event") %>

  <div class="show-infos">
    <h1 class="event-title spacy"><%= @booking.event.name %></h1>
      <div class="input-group input-wrapper-new">
        <span class="input-group-addon-new"><i class="fa fa-map-marker where-show-new"></i></span>
        <div class="location size"><%= @booking.event.address %></div>
      </div>

      <div class="input-group input-wrapper-new">
        <span class="input-group-addon-new"><i class="fa-regular fa-calendar when-show-new"></i></span>
        <div class="display-date size"><%= @booking.event.date %></div>
      </div>

      <div class="input-group input-wrapper-new">
        <span class="input-group-addon-new"><i class="fa-solid fa-user icon-info who-show-new spacy"></i></span>
        <% if (@booking.event.bookings.count) == 0 %>
          <div class="count-members size">No members</div>
        <% elsif (@booking.event.bookings.count) == 1 %>
          <div class="count-members size">One member</div>
        <% else (@booking.event.bookings.count) > 1 %>
          <div class="count-members size"><%= @booking.event.bookings.count %>members</div>
        <% end %>
      </div>

      <%# <%= pluralize(@booking.event.bookings.count, "member") %>

    <div class="description">
      <p class="infos-description"></p>
        <p class="text-description"> "<%= @booking.event.description %>"</p>
    </div>
  </div>
</div>
