<nav class="navbar">

    <%= link_to events_path, class: "icon-navbar navigate" do %>
      <i class="fa-solid fa-compass"></i>
    <% end %>

    <%= link_to bookings_path, class: "icon-navbar list" do %>
      <i class="fa-solid fa-rectangle-list"></i>
    <% end %>

    <%= link_to events_path, class: "icon-navbar add-event" do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>

    <%= link_to events_path, class: "icon-navbar calendar-check" do %>
      <i class="fa-solid fa-calendar-check"></i>
    <% end %>

    <%= link_to edit_user_registration_path, class: "icon-navbar profile" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>

</nav>
