
 <a href="/"><h1 class="logo-left">ShareMyWay</h1></a>

  <h2 class="title">Edit Event</h2>

    <div class="container margin-navbar">
      <%= simple_form_for @event do |f| %>

        <%= f.input :photo, as: :file, input_html: { class: 'file-label-event form-control' } %>

        <%= f.input :name, input_html: { class: "tag-classic-input1" } %>

        <%= f.input :description, as: :text, input_html: { class: "tag-classic-input1" } %>

        <%= f.input :address, input_html: { class: "tag-classic-input1" } %>

        <%= f.input :category,
        as: :select, collection: ["Nature and Outdoors", "Education and Learning", "Sports", "Games and Entertainment", "Food and Gastronomy", "Art and Culture", "Science and Exploration", "Health and Wellness", "Sports"], input_html: { class: "tag-classic-input1" } %>

        <%= f.input :date, input_html: { class: "tag-classic-input1"  } %>

        <div class="button-my-profil">
          <div class="form-actions">
           <%= f.button :submit, "Save event", class: "center-text" %>
          </div>
        </div>
      <% end %>
    </div>
