<%# <div class="logo?"></div> %>

<h1 class="title-all-events">ShareMyWay</h1>

<div class="container event-index">
<%#  si dessous la search bar pour rentrer une localisation %>
  <div class="searchbar">
    <div>
      <%= form_with url: events_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search event location"
          %>
        <%= submit_tag "Search", address: "", class: "btn btn-primary m-1" %>
      <% end %>
    </div>
  </div>

  <div class="card content-event">
    <div class="events-list" data-controller="events-list">
      <% @events.each do |event| %>
        <div class="card one-event">
          <%= cl_image_tag( event.photo.key, alt: "NA", class: "card-img-top") %>
            <%# La ligne si dessous est codée pour ne pas oublié de créer un btn qui nous permet d'afficher les membres participants à l'event %>
            <%# <%= link_to 'More', members_path(event), class: 'btn btn-primary' %>
            <div class="name-and-location">
              <div class="event-title"><%= event.name %></div>
              <div class="location"><%= event.address %></div>
            </div>
            <div class="display-date"><%= event.date %></div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />

            <%# ligne ci dessous à modifier si nous voulons rediriger directement vers la modal "success you joined this event!" %>
            <%= link_to 'Discover', event_path(event), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
