
  <h1 class="logo-left">ShareMyWay</h1>

  <h2 class="title">New Event</h2>
    <div class="container margin-navbar">
      <%= simple_form_for @event do |f| %>

        <%= f.input :photo, as: :file, input_html: { class: 'file-label-event form-control' } %>

        <%= f.input :name, input_html: { class: "tag-classic-input1" } %>

        <%= f.input :description, as: :text, input_html: { class: "tag-classic-input1" } %>

        <div class="input-group d-flex align-items-center">
          <span class="input-group-addon"><i class="fa fa-map-marker where-show"></i></span>
          <%= f.input :address, input_html: { class: "tag-classic-input1" }, placeholder: "Event address", label: false %>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa-regular fa-calendar when-show spacy"></i></span>
          <%= f.input :date, input_html: { class: "tag-classic-input1" }, label: false %>
        </div>

        <%= f.input :category,
        as: :select, collection: ["Hiking and Trekking", "Backpacking and Camping", "Road Trips and Drives", "Wildlife and Safari", "Language Learning", "Photography Workshops", "Cooking Classes", "Coding and Tech Workshops", "Yoga and Meditation", "Group Fitness Classes", "Outdoor Sports", "Personal Training"], input_html: { class: "tag-classic-input1" } %>

        <%= link_to new_event_path, class: "general-button button-link" do %>
            <%= f.button :submit, "Create event", class: "center-text" %>
        <% end %>
      <% end %>
    </div>
