<%# <h1 class="title-all-events">All Events</h1> %>
  <%# <button class="event-maps"></button> %>
  <%# <%= link_to "Maps", maps_path, class: "btn btn-primary" %>
  <%# <button class="back"></button> %>

<div class="image-event-show"><%= cl_image_tag(@event.photo.key, alt: "NA", class: "card-img-top img-show") %></div>
<div class="container show-event">

  <%= link_to events_path, class: "btn-back-all-events" do %>
    <i class="fa-solid fa-circle-chevron-left"></i>
  <% end %>


  <% if @event.user == current_user %>
    <div class="btn-delete-edit d-flex">
      <%= button_to event_path(@event), method: :delete, class: "delete-event-button" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      <%= link_to edit_event_path(@event.id), class: "edit-event-button" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>

  <% else %>

    <%= button_to event_bookings_path(@event), data: { turbo_method: :post }, class: "join-event-button" do %>
      <i class="fa-solid fa-user-plus"></i>
    <% end %>

  <% end %>



  <div class="icon-event-categories">
    <i class="fa-solid fa-campground category"></i>
  </div>

  <%= cl_image_tag( @event.user.photo.key, alt: "NA", class: "card-trip-user avatar-show-event") %>

  <div class="show-infos">
    <h1 class="event-title spacy"><%= @event.name %></h1>
    <div class="location-wrapper d-flex align-items-center spacy">
      <i class="fa-solid fa-location-pin icon-info where-show"></i>
      <div class="location size"><%= @event.address %></div>
    </div>
    <div class="date-wrapper d-flex align-items-center">
      <i class="fa-regular fa-calendar icon-info when-show spacy"></i>
      <div class="display-date size"><%= @event.date %></div>
    </div>
    <div class="date-wrapper d-flex align-items-center">
      <i class="fa-solid fa-user-group icon-info who-show spacy"></i>
      <div class="count-members size"><%= @event.bookings.count %> members going</div>
    </div>
    <div class="description">
      <p class="infos-description"></p>
        <p class="text-description"> "<%= @event.description %>"</p>
    </div>
  </div>
</div>

<%# <% if flash[:notice].present? %>
  <%# <div class="alert alert-success">
    <%= flash[:notice] %>
  <%# </div>
<% end %>
