<!DOCTYPE html>
<html>
  <head>
    <title>SHAREMYWAY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
    <%# <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet"> %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>



  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <% unless ["devise/registration", "devise/session", "devise/password", "pages"].include?(params[:controller]) || devise_controller? %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
